# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

# nuxt web
.output
.nuxt
.env
.idea/
db.sqlite3
.eslintcache
packages/run/index.mjs

# release files
http-test-tool-mac
http-test-tool-window
http-test-tool-ubuntu
